@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.detailsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 76px;
    margin: 25px 100px 55px 100px;

    &__titleblock {
        padding: 3px 0;
        @include overlapping-element(85%);
    }

    &__title {
        margin-bottom: 5px;
        @include text-format($color-primary, 36px, 500);
    }

    &__location {
        @include text-format($color-tertiary, 18px, 500);
    }

    &__host {
        justify-self: end;
        align-self: start;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include overlapping-element(15%);
    }

    &__hostname {
        text-align: right;
        @include text-format($color-primary, 18px, 500);
    }

    &__hostpicture {
        margin-left: 10px;
        object-fit: cover;
        @include block-format(64px, 100%, 32px);
    }

    &__list {
        @include column-flexbox(flex-start, 25px);
        @include list-format;
    }

    &__tags {
        display: flex;
        gap: 10px;
        @include list-format;
    }

    &__tag {
        text-align: center;
        background-color: $color-primary;
        min-width: 75px;
        border-radius: 10px;
        padding: 3.5px 20px;
        @include text-format($color-secondary, 14px, 700);
    }

    &__rating {
        align-self: end;
        display: flex;
        gap: 12px;
    }

    &__equipments {
        @include list-format;
    }
}
