@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.detailsgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 76px;
    margin: 25px 100px 55px 100px;

    &__titleblock {
        grid-column: 1 / span 2;
        grid-row: 1;
        width: 85%;
        padding: 3px 0;
    }

    &__title {
        margin-bottom: 5px;
        @include text-format($color-primary, 36px, 500);
    }

    &__location {
        @include text-format($color-tertiary, 18px, 500);
    }

    &__host {
        grid-column: 1 / span 2;
        grid-row: 1;
        justify-self: end;
        align-self: start;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 15%;
    }

    &__hostname {
        text-align: right;
        @include text-format($color-primary, 18px, 500);
    }

    &__hostpicture {
        width: 64px;
        border-radius: 32px;
        margin-left: 10px;
        object-fit: cover;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;
        padding: 0;
    }

    &__tags {
        display: flex;
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    &__tag {
        text-align: center;
        background-color: $color-primary;
        min-width: 75px;
        border-radius: 10px;
        padding: 3.5px 20px;
        @include text-format($color-secondary, 14px, 700);
    }

    &__rating {
        align-self: end;
    }

    &__equipments {
        list-style: none;
        padding: 0;
    }
}
