@import "../Layout/Layout.module.scss";

.errorblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 40px 100px 140px 100px;

    &__title {
        @include text-format($color-primary, 288px, 700);
    }

    &__text {
        @include text-format($color-primary, 36px, 500);
    }

    &__link {
        margin-top: 45px;
        @include text-format($color-tertiary, 18px, 500);
    }
}
