@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.errorblock {
    padding: 40px 100px 140px 100px;
    @include column-flexbox(100px);

    @media (max-width: $breakpoint-small) {
        text-align: center;
        padding: 80px 60px 110px 60px;
    }

    &__title {
        @include text-format($color-primary, 288px, 700);

        @media (max-width: $breakpoint-small) {
            @include text-format($color-primary, 96px, 700);
        }
    }

    &__text {
        @include text-format($color-primary, 36px, 500);

        @media (max-width: $breakpoint-small) {
            @include text-format($color-primary, 18px, 500);
        }
    }

    &__link {
        margin-top: 45px;
        @include text-format($color-tertiary, 18px, 500);

        @media (max-width: $breakpoint-small) {
            margin-top: 25px;
            @include text-format($color-tertiary, 14px, 500);
        }
    }
}
