@import "../Layout/Layout.module.scss";

.cardsection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
    row-gap: 50px;
    background-color: $color-cardblock;
    border-radius: 25px;
    padding: 50px;
    margin: 50px 100px;

    @media (max-width: 375px) {
        grid-template-columns: 1fr;
        row-gap: 20px;
        background-color: transparent;
        border-radius: 10px;
        padding: 0;
        margin: 25px 20px;
    }
}
