@import "../Layout/Layout.module.scss";

.cardsection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    background-color: $color-cardblock;
    border-radius: 25px;
    padding: 50px;
    margin: 50px 100px;
}
