@mixin text-format($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

@mixin column-flexbox($gap) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin radius-shadow($radius, $filter) {
    border-radius: $radius;
    filter: $filter;
}

@mixin block-format($width, $height, $radius) {
    width: $width;
    height: $height;
    border-radius: $radius;
}

@mixin chevron-button {
    background-color: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

@mixin collapse-animation($grid, $padding, $opacity, $translate) {
    display: grid;
    grid-template-rows: $grid;
    padding: $padding;
    opacity: $opacity;
    transform: translateY($translate);
    transition: all 0.3s ease, opacity 0.5s ease-out;
}
