$breakpoint-medium: 1024px;
$breakpoint-small: 768px;
$color-primary: #ff6060;
$color-secondary: #fff;
$color-tertiary: #000;
$color-cardblock: #f6f6f6;
$color-collapseframe: rgba(246, 246, 246, 0.45);
