@import "../../styles/mixins.module.scss";
@import "../../styles/variables.module.scss";

* {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin: 0;

    body {
        max-width: 1440px;
        margin: auto;
    }
}
