@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.collapsebar {
    position: relative;
    background-color: $color-collapseframe;
    width: 100%;
    border-radius: 5px;

    &__title {
        background-color: $color-primary;
        border-radius: 5px;
        padding: 10px 15px;
        @include text-format($color-secondary, 24px, 700);

        @media (max-width: $breakpoint-small) {
            padding: 10px;
            @include text-format($color-secondary, 13px, 700);
        }
    }

    &__button {
        position: absolute;
        top: 19px;
        right: 24px;
        background-color: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s ease-out;

        &--open {
            transform: rotate(-180deg);
        }

        @media (max-width: $breakpoint-small) {
            top: 10px;
            right: 12px;
        }
    }

    &__text {
        padding: 15px 20px 20px 20px;
        @include text-format($color-tertiary, 18px, 400);

        @media (max-width: $breakpoint-small) {
            @include text-format($color-tertiary, 12px, 400);
        }
    }
}
