@import "../Layout/Layout.module.scss";

.headblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;

    &__link {
        text-decoration: none;
        margin-left: 60px;
        @include text-format($color-tertiary);

        &--underline {
            text-decoration: underline;
        }
    }
}
