@import "../Layout/Layout.module.scss";

.headblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px 50px 100px;

    @media (max-width: $breakpoint-small) {
        margin: 25px 20px;
    }

    &__list {
        display: flex;
        list-style: none;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        margin-left: 65px;
        @include text-format($color-tertiary, 24px, 500);

        &:hover,
        &--underline {
            text-decoration: underline;
        }

        @media (max-width: $breakpoint-small) {
            text-transform: uppercase;
            margin-left: 25px;
            @include text-format($color-tertiary, 12px, 500);
        }
    }
}
