@import "../Layout/Layout.module.scss";

.footerblock {
    background-color: $color-tertiary;
    padding: 65px 0 30px 0;
    @include text-format($color-secondary, 24px, 500);
    @include column-flexbox(45px);

    @media (max-width: 375px) {
        text-align: center;
        padding: 60px 135px;
        @include text-format($color-secondary, 12px, 500);
        @include column-flexbox(15px);
    }

    &__logo {
        width: 122px;
    }
}
